


<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link type="text/css" rel="stylesheet" href="~/Content/dataTables.css" />
<script>

    $(document).ready(function () {
        $('#AssetsTable').DataTable();
    });
</script>
<style>
    table {
    }
</style>

<table class="table table-responsive" id="AssetsTable" class="display" width="100%">
    <thead>
        <tr style="font-size:20px;">
            <th>TICKET NO</th>
            <th>ASSET</th>
            <th>ASSET ID</th>
            <th>ISSUES/COMMENTS</th>
            <th>STATUS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@@mdo</td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@@fat</td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@@twitter</td>
            <td></td>
        </tr>

    </tbody>
</table>