
@{
    ViewBag.Title = "Home";
}

<style>
                                    div {
                                       font-size:16px; 
                                        font-family: 'SignikaNegative-Regular';
                                        color:#000;
                                    }
                                    
                                    form{
                                        padding:0% 20%;
                                    }
    </style>

<script src="~/CustomScripts/Employee/EmployeeModule.js"></script>
<script src="~/CustomScripts/Employee/EmployeeController.js"></script>
<div class="header" ng-app="EmployeeApp">
    <div class="head-strip" style="padding:0.5% 0 0 0;" ng-controller="EmployeeController">
        <div class="head-strip-left" style="padding: 1%;margin-top:1.5%;">
            <span class="joe"><img src="~/Images/1.png" alt=""> </span>
            <div class="joe-text">
                <h2>Welcome back {{name}} </h2>
            </div>
        </div>
            <div id="horizontalTab" class="head-strip-left-nowidth" style="margin:1%;">
                <ul class="resp-tabs-list" style="width:50%;margin-left: 55%;margin-top: -5.6%;">
                    <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span class="cal"> </span><h4>Dashboard</h4></li>
                    <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span class="cal"> </span><h4>History</h4></li>
                </ul>
                <div class="resp-tabs-container">
                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                        <div class="facts" style="background-color:#eeeeee;">
                            <ul class="tab_list">


                                <div style="background-color:white">
                                    @Html.Partial("~/Views/Employee/RenderDashboard.cshtml");
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                        <div class="facts" style="background-color:#eeeeee;">
                            <ul class="tab_list">


                                <div style="background-color:white">
                                    @Html.Partial("~/Views/Employee/RenderHistory.cshtml");
                                </div>
                            </ul>
                        </div>
                    </div>





                </div>


                <div class="clearfix"> </div>
            </div>

            <div class="settiing" style="background-color: #2b3042;margin:3.24% 8.8%;">
                <div class="menu2">
                    <span class="menu-at-on"><img src="~/Images/logout2.png" alt=""> </span>
                    <ul>
                        <li><a href="#">Log Out</a></li>
                    </ul>
                    <script>
                        $("span.menu-at-on").click(function () {
                            $(".menu2 ul").slideToggle(500, function () {
                            });
                        });
                    </script>
                </div>
            </div>

        </div>

    <div class="clearfix"> </div>
</div>
<div class="copy-right">
    <script type="text/javascript">
										$(document).ready(function() {
											/*
											var defaults = {
									  			containerID: 'toTop', // fading element id
												containerHoverID: 'toTopHover', // fading element hover id
												scrollSpeed: 1200,
												easingType: 'linear'
									 		};
											*/

											$().UItoTop({ easingType: 'easeOutQuart' });

										});
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</div>

