<div class="col-md-8 header-bot-right" id="ASSIGN_ASSETS" style="width:100%;">
   
        <h4 style="color:black;size:20px;">ASSIGN ASSETS SECTION</h4>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="exampleSelect1">Select Asset</label>
                    <select class="form-control" id="exampleSelect1">
                        <option selected="Select" onclick="">Select an Asset</option>
                        <option>Laptop</option>
                        <option>HeadSet</option>
                        <option>Keyboard</option>
                        <option>WirelessMouse</option>
                        <option>Mobile</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">Asset ID</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                </div>
                <div class="form-group">
                    <label for="exampleTextarea">ISSUES/COMMENTS</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>

        @*<div class="remember">
            <div class="send">
                <input type="submit" data-toggle="modal" data-target="#AssignAssetsModal" value="ASSIGN NEW ASSET">
                <!-- <input type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" value="ADD TICKET"/> -->


            </div>
            <div class="clearfix"> </div>
        </div>


        <!-- Large modal -->
        <!-- Button trigger modal -->
        <!-- Modal -->  <!-- for Adding a new TICKET -->
        <div class="modal fade" id="AssignAssetsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">ASSIGN ASSETS SECTION</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleSelect1">Select Asset</label>
                                <select class="form-control" id="exampleSelect1">
                                    <option selected="Select" onclick="">Select an Asset</option>
                                    <option>Laptop</option>
                                    <option>HeadSet</option>
                                    <option>Keyboard</option>
                                    <option>WirelessMouse</option>
                                    <option>Mobile</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Asset ID</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                            </div>
                            <div class="form-group">
                                <label for="exampleTextarea">ISSUES/COMMENTS</label>
                                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>